/*
body{
    background-image:url(./dinner-table-mockup_160403-101.avif) ;
    background-size:100% 100% ;
    background-attachment: fixed;
}
*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
}  
body{
    font-family: sans-serif;
    height: 470vh;
}   
.menu{
    background-image: url(./images/1000_F_210803786_qXjc6ycwK4hTNV3glV0vNlhHJMpXxdFe.jpg);
    background-image: url(./images/home_bg.jpeg);
    background-size:100% 100% ;
    background-attachment: fixed;
    height: 100vh;

}

.container{
    background: #000000;
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18px;
}
.container .logo h2 {
    font-weight:900;
    color: white;
}
.container .logo span {
    color:orangered;
}
.container ul{
    display: flex;
    list-style: none;
}
.container ul li{
    margin: 15px;
    margin-bottom: 2px;
    
}
.container ul li a{
    text-decoration: none;
    padding-left: 10px;
    color: aqua;
    font-weight: 700;
    font-size: 18px;
}
.container ul li a:hover{
    color: orangered;
    transition: .2s;
    font-size: 19px;
}
.container ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color:brown;
    display: flex;
    position: relative;
    margin-left: 18px;
}
.container input{
    padding: 1px 1px;
    cursor: pointer;
    font-weight: 700;
}
.signin{
    background: transparent;
    color: aliceblue;
    border: none;
    font-size: 20px;
}
.signup{
    background-color:rgb(252, 127, 82);
    background-color: orangered;
    color: aliceblue;
    color: #000000;
    outline: none;
    border: none;
    border-radius:6px ;
    font-size: 20px;
}
.signup:hover{
    background:burlywood;
    transition: .5s;
}
.main-div{
    
}
.content{
    display: flex;
    align-items:end;
    
    width: 100%;
    margin-top: 190px;
}
.content .info h2{
    color:yellow;
    font-weight: 900;
    font-size: 40px;
    margin-left: 47px;
}
.content .info p{
    font-size: 19px;
    margin-left: 47px;
    margin-top: 21px;
    color:aliceblue;
    line-height: 2pc;
}
.content .info button{
    background-color: orangered;
    color: aliceblue;
    font-size: 23px;
    height: 38px;
    border-radius: 9px;
    margin-left: 48px;
    margin-top: 20px;
    cursor: pointer;
    padding: 6px 11px 11px 11px;
    
}
.content .info button:hover{
    background-color: aliceblue;
    color: #000000;
    transition: 1s;
}
.Menu{
}
.list-items{
    height: 70vh;
    background-color: white;

}
.list-items h2{
    color: #000000;
    padding: 16px;
    font-size: 37px;
    font-weight:900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}
.list-items  h2{
    color: rgb(29, 29, 104);

}
.list-items p{
    line-height: 1.2pc;
    padding: 2px;
}
 .content-section .card img:hover{
   /* width: 220px;
    height:220px;*/
    cursor: pointer;
    transform: scale(1.20);
    padding-top:18px ;


}
.card .price{
    padding-top:1;
    padding-left: 0px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    color: blue;
    text-align: center;
    align-items: center;

}
.content-section{
    display: flex;
    gap: 33px;
    padding-top:23px;
    text-align: center;
    justify-content:center;

}
.content-section .card{
    height: auto;
    display: block;
    outline: 1px solid #7d574c;
    position: relative;
    background:antiquewhite;

}

.content-section .card i:hover{
    font-size: 30px;
    cursor: pointer;
    
}
.content-section .card .price:hover{
    font-size: 20px;
    cursor: pointer;
}
.services{
    width: 100%;
    padding-top: 42px;
    height: 69vh;
}
.services .object{
    
}
.services .object h2 {
    padding-bottom: 43px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 43px;
    color: rgb(29, 29, 104) ;
}
.obj1{
    display: flex;
    justify-content: space-between;

}
.obj1 img
{
    width: 500px;
    height: 370px;
    margin-left: 71px;
    border-radius: 11px;
    left: 20%;
    top: 60%;
    cursor: pointer;
}
.obj1 img:hover{
    transform: scale(1.04);
}
.obj1 p{
    text-align:start;
    width:550px;
    letter-spacing: .7px;
    line-height: 2.3pc;
    font-size: 24px;
    margin-right: 82px;
    padding-top: 66px;
    align-items: center;
    
}
.gallary{
    padding-top: 20px;
}
.gallary h2{
    text-align: center;
    font-size: 45px;
    color: rgb(29, 29, 104);
}
.itga{
display: grid;
grid-template-columns: repeat(3,1fr);
padding: 30px 20px;
grid-column-gap:20px ;
grid-row-gap:30px;
}
.item img{
    width:100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: ease;
}
.item img:hover{
    transform: scale(1.04);
}

.item h4{
    text-align: center;
    padding: 6px;
    font-size: 22px;
}

.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color:aqua;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
}
.item button:hover{
    background:blueviolet;
    color: azure;
    transition: 1s;
    transform: scale(1.04);
}

.about{
    padding-bottom: 28px 0px 40px;
    align-items: center;
    text-align: center;

}
.about span h2{
    color: rgb(5, 5, 74);
    font-size: 44px;
    padding-top: 30px;
}

.about .card {
    border-radius: 16px;
    padding-top: 30px; 
    margin-left: 48px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 30px;
    padding: 30px;

    
}
.about .card:hover{
    
    cursor: pointer;

}
.about .feet{
    
    display: flex;
    border-radius:11px;
    box-shadow: 5px 6px 7px 1px;
    padding: 5px;
    width: 80%;
    height:auto;
    flex-wrap:wrap;
    align-items: center;
    
}
.about .card i{
    font-size: 33px;
    color:#1c91b2;
    align-items: center;
    padding: 12px 123px;
    text-align: center;

}
.about .card i:hover{
    font-size: 40px;
    cursor: pointer;
}
.about .card h2{
    align-items: center;
    padding: 0px 38px 30px ;
    font-weight:bolder;
}
.about .card .feet p{
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: center;

    
}
.footer{
    background: #000000;
    color: #ffffff;
    font-family: "open sans";
    width: 98.9vw;
    height: auto;
    padding-top: 30px;
    margin-left: 0px;
}
footer h3{
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}
footer p{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    margin-left: 580px;
    justify-content: center;
    color: rgb(241, 6, 6);
    
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin:0px 13px;
    justify-content: center;
}
.social a{
    color: #ffffff;
}
.social a i{
    font-size: 1.1rem;
}
.social a:hover{
color: aqua;
}
.footer-bottom{
    padding-bottom: 20px;
}
.footer-bottom p{
    color: rgb(12, 12, 93);
    line-height: 1pc;
}
.footer-bottom .khaled{
    color: rgb(173, 5, 5);
}
/* mobile*/ 

@media screen and (max-width:600px)
{
    body{
     height: 270vh;
    
    }
    
    .menu .container{
        height: 150px;
        background-size: 50% 100%;
        background-repeat: repeat;
        background-attachment:fixed;

        
    }
     .menu .container ul  {
        padding-top: 10px;
        display: block;
        width: 30%;
    }
    .menu .container ul li a{
            font-size: 11px;
            font-weight:900;
            padding-bottom: 40px;
    }
    .menu .logo h2{
        font-size: 20px;
    }
     .input .signin {
        display: block;
        padding: 6px;
        padding-right: 16px;
    }
    .main-div .content .info {
        padding: 0px 60px 0px 0px;
    }
    .list-items{
        background-color:rgb(255, 255, 255);
        
    }
    .list-items .content-section{
        display: block;
        
    }
    .content-section{
        padding-left: 80px;
        
        
    }
    .content-section .card{
        margin-bottom: 20px;
        border-radius: 20px;
        padding-bottom: 11px;
        width: 70%;
        outline: 1px solid #7d574c;
        background: #ffffff; 
         margin-left: 23px;
      
    }
    .content-section .card .price{
        padding-left: 30px;
        padding-top: 5px;
    }
    .content-section .card i{
        padding-right: 31px;
    }
    .services{
        padding-top: 60px;
    }
    .services .object .obj1{
        display: block;

        
    }
    .services .object h2{
        padding-bottom: 20px;
    }
    .services .object {
    padding-top: 115vh;    
    
    }
    
    .object .obj1 img{
        width:400px;
        height: 290;
        margin-left: 32px;
        align-items: center;
        text-align: center;
        
    
    }
    .object .obj1 p{
        width: 400px;
        padding-bottom: 0px;
        
        text-align: center;
        margin: 0 auto;
        
    }
    .gallary{
        padding-top: 129vh;   
    
    }
    .itga{
        grid-template-columns: repeat(1,1fr);

    }
    .item{
        
        grid-template-columns:40% 40% 20%;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(2,auto);

        /*
         repeat(4,1fr);
        */
    }
    .about {
        margin-left: 50px;
            

    
    }
    .card h2{
        margin-left: 5px;
    }
    .foot{
        margin-left:60px;
        
        
    }
    .foot h3{
        padding-left: 26px;
    }
    .foot p {
        margin-right: 1000px;
    
        text-align: center;
        width: 230px;

    }
    .footer{
        width: 483px;
    }
    
    .footer-bottom{
        width: 460px;
        margin-right: 700px;
        margin-left: 17px;
    }
    .footer-bottom .p{
        margin-right: 200px;
        width: 460px;
    }
    .footer-bottom .khaled{
        color:#e6090c;
    }
}
@media screen and (max-width:640px)
{
.services img{
   margin-left: 80px;
}
}
@media screen and (max-width:890px){
  .services .object .obj1{
    display: block;

  }
  .services{
    height: 130vh;
  }
  .services .object .obj1 p{
   text-align: center;
   margin-bottom: 60px;
  }
  
  .card{
    
     grid-template-columns: repeat(2,2fr)
     
  }
  .content-section {
    display: grid;
    grid-template-columns: repeat(2,3fr);

  }
  .list-items{
    height: 120vh;
  }
  .footer{
  }
  .footer .foot p{
    margin-left: 91px;
    text-align: center;
    color: #e6090c;
    

}
.footer .foot h3{
margin-right: 42px;
}
.footer .social li {
    padding-left: 23px;
    margin-left: 31px;
}
  .footer
  {
    
  }
  
  
}
@media screen and (max-width:830px)
{
    .footer  {
        display: none;
        }
    }
    @media screen and (max-width:1200px)
{
   .gallary h2{
        height: 20vh;
        padding-top: 70px;
    }
    .services p {
        padding-left: 20px;
    }
    .services h2{
        padding-top:12px;
        margin-top:13px ;
    }
    .footer  {
        display: none;
        }
}
@media screen and (max-width:890px)
{
    .services  {
        height: 110vh;
    }
    .services p{
        margin-left:130px;
        padding-block:20px ;
    }
    .services img{
        margin-left:150px;
    }
    
    /*
    .services h2{
        padding-top:12px;
        margin-top:13px ;
    }
    */
}